body {
    margin: 0;
    padding: 110px 15%;
    text-align: justify;
}

h1 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: hsl(147, 74%, 79%);
    text-align: center;
    padding: 30px 0;
    margin: 0;
    box-shadow: 0 2px 12px rgb(15, 128, 0);
}

h3 {
    text-align: center;
    margin-top: 40px;
    background-color: #c6f0d0;
    padding: 15px 15px;
    box-shadow: 0 2px 6px rgb(15, 128, 0);
    margin: 30px 0;
}

ul {
    width: 75%;
    margin: auto;
    text-align: justify;
}